#title {
  text-align: center;
  font-family: arial, sans-serif;
}
#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
 
  width: 100%;
  display:flex;
  justify-content: center
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 15px;
}





#students th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: black;
  color: white;
}

.sheet {
  display:flex;
  justify-content:center;
  padding: 18px;
}
